body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

main {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2em;
}

.app {
  border: 1px solid black;
  padding: 32px;
}
